.container{
    width: 80px;
    height: 80px;
   display: flex;
    justify-content: center;
}

.junto-container

    {
        width: 80px;
        height: 80px;
       display: flex;
        justify-content: center;
    }

    
